services:
    webdriver: 
      image: selenium/standalone-firefox
      restart: always
      ports:
        - "4444:4444"
    inmet-scrap:
      image: alanlopes/inmet_scrap
      build: 
        context: .
        dockerfile: Dockerfile
      restart: always
      environment:
        WEBDRIVER_HOST: 'http://webdriver:4444/wd/hub'
        DB_HOST: '34.39.143.242'
        DB_PORT: 5432
        DB_USER: postgres
        DB_DATABASE: postgres
        DB_PASSWORD: atmos2025

    atmos-database:
      image: postgres:15
      restart: always
      environment:
        POSTGRES_USER: ATMOSLCA
        POSTGRES_PASSWORD: atmos2025
        POSTGRES_DB: postgres
      volumes:
        - ${POSTGRES_DATA_PATH}:/var/lib/postgresql/data
      ports:
        - "31222:5432"
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U ATMOSLCA -d postgres"]
        interval: 5s
        start_period: 10s
        timeout: 5s
        retries: 5
